body{
    background-image: url('../imgs/login-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#login-panel {
    background-color: white;
    border-radius: 1vw;
    padding: 3vw;
}

#login-message {
    display: inline;
    padding-left: 2em;
}

.app_primary_color {
    background-color: #99cc66 !important;
    color: black;
}

.h100 {
    height: 100vh;
    margin-bottom: 0;
}

input {
    margin-bottom: 5vh !important;
}

.fail {
    color: darkred;
}

.success {
    color: darkgreen;
}